fastapi==0.109.0
uvicorn==0.25.0
SQLAlchemy==2.0.25
python-multipart==0.0.6
requests==2.31.0
mysqlclient==2.2.4
alembic==1.13.1
psycopg2==2.9.9
pymysql
bcrypt==4.1.2
python-jose==3.3.0
cryptography==42.0.
sqlalchemy-cockroachdb==2.0.2
PyMySQL[rsa]